#monname {
	font-weight: bold;
}

a.error {
	color: #ff0000;
	text-decoration: underline;
}

.element0 {
	color: #000000;
}

.element1 {
	color: #0000ff;
}

.element2 {
	color: #ff0000;
}

.element3 {
	color: #8a2be2;
}

.element4 {
	color: #808080;
}

.element5 {
	color: #008000;
}

.element6 {
	color: #006400;
}