#monname {
	font-weight: bold;
}

a.error {
	color: #ff0000;
	text-decoration: underline;
}

.elementnone {
	color: #000000;
}

.elementcold {
	color: #0000ff;
}

.elementhot {
	color: #ff0000;
}

.elementsleaze {
	color: #8a2be2;
}

.elementspooky {
	color: #808080;
}

.elementstench {
	color: #008000;
}

.elementslime {
	color: #006400;
}
