name: Build

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  daily:
    if: github.repository == 'kolmafia/kolmafia'
    name: Build Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Build
        env:
          ORG_GRADLE_PROJECT_commit: ${{ github.sha }}
        run: ./gradlew --no-daemon shadowJar

      - name: Retrieve version and tag
        run: |
          KOLMAFIA_VERSION=$(git rev-list --count $GITHUB_SHA)
          git tag "r$KOLMAFIA_VERSION"
          echo "KOLMAFIA_VERSION=$KOLMAFIA_VERSION" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*.jar
          tag_name: r${{ env.KOLMAFIA_VERSION }}
          name: ${{ env.KOLMAFIA_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
