name: Check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        java: [11, 17]

    name: Run Checks

    env:
      OS: ${{ matrix.os }}
      JAVA: ${{ matrix.java }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Prepare Workspace
        run: mkdir -p ./build

      - name: Run Java checks (including tests)
        env:
          ORG_GRADLE_PROJECT_javaSourceCompatibility: ${{ matrix.java }}
          ORG_GRADLE_PROJECT_javaTargetCompatibility: ${{ matrix.java }}
        run: ./gradlew --no-daemon check jacocoTestReport

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: "Test Report (${{ matrix.os }})"
          report_paths: "**/build/test-results/test/TEST-*.xml"

      - name: Publish Coverage Report
        uses: codecov/codecov-action@v2
        if: always()
        with:
          env_vars: OS,JAVA
          name: coverage-${{ matrix.os }}-java-${{ matrix.java }}
          file: ./build/reports/jacoco/test/jacocoTestReport.xml

