name: Check

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        java: [21]

    name: Run Checks

    env:
      OS: ${{ matrix.os }}
      JAVA: ${{ matrix.java }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup xvfb
        if: matrix.os == 'ubuntu-latest'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: xvfb
          version: 1.0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
          cache: "gradle"

      - name: Prepare Workspace
        run: mkdir -p ./build

      - name: Run Java checks (including tests)
        if: matrix.os == 'ubuntu-latest'
        env:
          ORG_GRADLE_PROJECT_javaSourceCompatibility: ${{ matrix.java }}
          ORG_GRADLE_PROJECT_javaTargetCompatibility: ${{ matrix.java }}
        run: xvfb-run ./gradlew --no-daemon check jacocoTestReport

      - name: Run Java checks (including tests)
        if: matrix.os != 'ubuntu-latest'
        env:
          ORG_GRADLE_PROJECT_javaSourceCompatibility: ${{ matrix.java }}
          ORG_GRADLE_PROJECT_javaTargetCompatibility: ${{ matrix.java }}
        run: ./gradlew --no-daemon check jacocoTestReport

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          check_name: "Test Report (${{ matrix.os }}, Java ${{ matrix.java }})"
          report_paths: "**/build/test-results/test/TEST-*.xml"

      - name: Publish Coverage Report
        uses: codecov/codecov-action@v4
        if: always()
        with:
          env_vars: OS,JAVA
          name: coverage-${{ matrix.os }}-java-${{ matrix.java }}
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{secrets.CODECOV_TOKEN}}

