name: Coverage

on:
  push:
    branches: [main]

jobs:
  coverage:
    if: github.repository == 'kolmafia/kolmafia'
    runs-on: ubuntu-latest

    name: Run Coverage

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java 16
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "16"

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Prepare Workspace
        run: mkdir -p ./build

      - name: Run Tests
        run: ./gradlew --no-daemon jacocoTestReport

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: "**/build/test-results/test/TEST-*.xml"

      - name: Publish Coverage Report
        uses: codecov/codecov-action@v2
        if: always()
        with:
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
